/*Geral*/
*{
   font-family: arial;
   margin: 15px;
   text-align: justify;
}


/*--------------------------------------Título*/
h1 {
  font-size: 24px;
  margin: 0%;
}

.negrito {
  font-weight: bold;
  color: #333; /* preto mais suave */
}

.cinza {
  font-weight: normal;
  color: #656464; /* cinza */
}


/*--------------------------------------Box Preço*/
.caixa{

background-color: #d7ffe4;
border: 1px solid #000; 
border-radius: 10px; 
width: 150px; 
padding: 15px;       
}

   .titulo {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 20px 0; /* espaço abaixo do título ---- Mas funcionou pra separar os dois textos no tamanho que eu desejava! ;) */ 
}

   .preco {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

/*--------------------------------------Imagem*/
img{
display: block;
margin-left: auto;
margin-right: auto;

}

/*--------------------------------------Box Texto*/
.destaque {
  font-weight: bold;
  color: #000000; /* preto mais suave */
}

.normal {
  font-weight: normal;
  color: #000000; /* cinza */
}

#steve{
    background-color: #c9c9c9;
 
    text-align: left;
    width: 1200x; 
padding: 15px;  
text-align: left;

}

/*--------------------------------------Tabela*/
 table{
 width: 80%;
 border-collapse: collapse;
 font-family: Arial;
 }

  th, td{
 border-bottom: 1px solid rgb(1, 1, 1);
 height: 30px;
 text-align: center
  } 

   th{
 background-color: rgb(255, 0, 0);
 color: rgb(255, 255, 255);
}

tr:nth-child(odd){
 background-color: #fdabab;
 }

  tr:hover{
 background-color: rgb(255, 90, 90);
  }

  #link:hover{
 background-color: rgb(255, 90, 90);
  }

  .reference-table caption {
    background-color: #5a5a5a;
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    caption-side: top;
    text-align: center;
}

 